<h1><%= user.user_name %>'s Interviews</h1>
<div class="list-group">
  <% interviews.each do |interview| %>
    <% if interview.future? %>
      <%= link_to interview.scheduled_datetime, user_interview_path(user.id, interview.id, params: { interview: { status: :accepted } }),
      method: 'put', data: { confirm: 'Are you sure?' }, class: "list-group-item" %>
    <% else %>
      <li class="list-group-item disabled"><%= interview.scheduled_datetime %></li>
    <% end %>
  <% end %>
</div>
