<h1><%= user.user_name %>'s Interviews</h1>
<div class="list-group">
  <% interviews.each do |interview| %>
    <li class="list-group-item"><%= interview.scheduled_datetime %></li>
  <% end %>
</div>
